<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
    <link href="../src/styles/styles.css" rel="stylesheet">
    <title>edit</title>
</head>
<body>
    <form>
        <p>
            <textarea id="data" rows="10" cols="40"><%= task.text %></textarea>
        </p>
         <p>
            <input type="date" id="deadline" value="<%= task.deadline %>">
        </p>
        <p>
            <button id="save" type="button" value="<%= task.id %>">保存</button>
        </p>
    </form>
    <!-- You can also require other files to run in this process -->
    <script src="../src/js/editRenderer.js"></script>
</body>
</html>