<!DOCTYPE html>
<!-------------------------------
------------TODO----------------->
<html>
<head>
  <meta charset="UTF-8">
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
  <link href="../styles.css" rel="stylesheet">
  <title>memo</title>
</head>
<body>
  <div class="Header">
    背景
    <button id="displayTasks" type="button">タスクを背景に表示する</button>
    <button id="restoreOriginalWallpaper" type="button">元の背景画像に戻す</button>
  </div>
  <div class="Contents">
    <h1>TODO LIST</h1>
    <div class='add'>
      <form>
        <button id="add" type="button">add TODO</button>
      </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>TEXT</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          <ul>
            <% allTasks.forEach((task) => { %>
                <tr id="<%= task.id %>">
                    <td><li><%= task.text %></li></td>
                    <td>
                        <input class="task-id" type="hidden" value="<%= task.id %>">
                        
                        <button class="display" type="button" id="display<%= task.display %>">display</button>
                    </td>
                    <td>
                        <button class="edit" type="button">edit</button>
                    </td>
                    <td>
                        <button class="delete" type="button">delete</button>
                    </td>
                </tr>
            <% }) %>
          </ul>
        </tbody>
    </table>
  <form>
    <button id="add" type="button">add TODO</button>
  </form>
  <button id="openSettings" type="button">設定</button>
  <!-- You can also require other files to run in this process -->
  <script src="../indexRenderer.js"></script>
</body>

</html>