<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
    <link href="../styles.css" rel="stylesheet">
    <title>detail</title>
</head>
<body>
    <h1>settings</h1>
    <input id="task-position-x" type="number" placeholder="タスクのx座標" value="<%= settings['taskPosition'][0] %>">
    <input id="task-position-y" type="number" placeholder="タスクのy座標" value="<%= settings['taskPosition'][1] %>">
    <button id="saveSettings" type="button">保存</button>
    <!-- You can also require other files to run in this process -->
    <script src="../settingsRenderer.js"></script>
</body>
</html>