<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
    <link href="../src/styles/styles.css" rel="stylesheet">
    <title>Non-sticky めも</title>
</head>
<body>
    <h1>設定</h1>
    <div class="previewDiv">
        <img id="previewWallpaper" src="../src/images/output.jpg" alt="プレビュー">
    </div>
    <button id="saveBaseWallpaper" type="button">タスクの背景画像を選択</button><div id="selectedWallpaperPath"><br></div>
    <button id="saveFontFile" type="button">フォントファイルを選択</button><div id="selectedFontFilePath"><br></div>
    水平位置<input id="task-position-x" type="range" min="0" max="100" value="<%= settings['taskPosition'][0] %>"><br>
    垂直位置<input id="task-position-y" type="range" min="0" max="100" value="<%= settings['taskPosition'][1] %>"><br>
    フォントサイズ<input id="fontSize" type="range" min="0" max="100" value="<%= settings.taskFont %>"><br>
    行の間隔<input id="lineSpacing" type="range" min="0" max="100" value="<%= settings['lineSpacing'] %>"><br>
    <button id="backToMainWindow" type="button">キャンセル</button>
    <button id="saveSettings" type="button">保存</button>
    <!-- You can also require other files to run in this process -->
    <script src="../src/js/settingsRenderer.js"></script>
</body>
</html>